.password-form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.password-input {
    padding: 8px;
    margin-right: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 150px;
}

.password-submit {
    background-color: #0073aa;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.password-submit:hover {
    background-color: #0c6c98;
}
.description {
    color: rgb(171, 171, 171); 
    font-size: small;
    margin-top: 20px; 
}
